.starship-main-container {
  max-width: 90vw;
  width: 100%;
  padding: 0 5vw;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; /* Add this line to hide overflowing video content */

  .starship-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .starship-inner-container {
    padding: 20px;

    .starship-logo-container {
      margin: 0 auto;
      text-align: center;
    }

    .starship-content {
      color: #ffe820;
      margin-top: 30px;
      text-align: center;

      .starship-content-trophy {
        color: #ffad00;
        font-size: 25px;
      }
    }

    .starship-container {
      align-items: center;
      justify-content: space-between;
      border-radius: 20px;
      padding: 30px;
      margin-bottom: 30px;
      color: #ffe820;
      background: rgb(12,36,66);
      background: linear-gradient(90deg, rgba(12,36,66,1) 0%, rgba(79,116,146,1) 100%);

      .starship-trophy {
        padding-left: 10px;
        color: #ffad00;
      }

      .starship-img {
        max-width: 300px;
        border-radius: 20px;
      }

      .star-trophy {
        width: 52px;
        margin-right: 10px;
      }
    }
  }
}


@media (min-width: 768px) {
  .starship-inner-container {
    padding: 50px;

    .starship-container {
      display: flex;

      // > div{
      //   width: 33%;
      // }
    }
  }
}